.App {
    display: flex;
    justify-content: center;
}

.blockdatainput {
    width: 250px;
    height: 50px;
    margin-bottom: 40px;
    font-size: large;
    border-radius: 7px;
    border-width: 1px;
    outline: transparent;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #acb5c2;
    border-radius: 5px;
}